.fade {
    width: 100%;
    height: 139%;
    position: absolute;
    background: #000;
    opacity: .3;
}

.modal {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0; 
    margin: 0 auto;
    width: 500px;
    height: 400px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 5px 5px 15px 5px #333; 
    box-shadow: 5px 5px 15px 5px #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal h2 {
    margin-bottom: 1em;
}

.modal form {
    width: 90%;
    
}