.task {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 0 auto;
    border-bottom: 1px solid #777;
    padding: 1em;
}

.details {
    text-align: left;

}

.details h4 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.actions i {
    margin-bottom: 0.5em;
    font-size: 1.2em;
    cursor: pointer;
    background: #333652;
    color: #90ADC6;
    padding: .4em;
    transition: .5s;
}

.actions i:hover {
    color: #FAD02C;
}